modules/frontend/node_modules
modules/frontend/build
.tools/
modules/frontend/test-results/
modules/frontend/playwright-report/
modules/backend/target/
.idea
example.jpg
node_modules
modules/frontend/package-resources/
modules/frontend/dist/
modules/frontend/dist-update/
