/*noinspection CssUnknownTarget*/
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("./_settings.css");

@layer generics {
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-default);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
